<div class="row" id="imprimir" #imprimir>
    <div class="col-6">
        <div class="row">
            <div class="col-3">
                <img src="../../../../assets/images/logo.jpg" class="rounded float-left" width="80" height="70">
            </div>
            <div class="col-6 text-center">
                <label>Comité de Agua Tacopoca Alta</label>
                <label>Recibo De Pago De Agua</label>
            </div>
            <div class="col-3">
                <label><strong>Nº: </strong> {{cabezaRecibo.idRecibo}} </label><br>
                <label><strong>Id: </strong> {{cabezaRecibo.idUser}} </label>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label><strong>Fecha: </strong> {{cabezaRecibo.fechaRecivo}} </label>
            </div>
            <div class="col-6">
                <label><strong>Medidor: </strong> {{cabezaRecibo.numero}} </label>
            </div>
            <div class="col-6">
                <label><strong>Socio: </strong> {{cabezaRecibo.name}} </label>
            </div>
            <div class="col-6">
                <label><strong>Periodo: </strong> {{cabezaRecibo.mes}}/{{cabezaRecibo.anio}} </label>
            </div>
        </div>
        <div class="row">
            <div class="col-9  text-center" style="background-color: slategrey;">
                <label><strong>Detalle </strong></label>
            </div>
            <div class="col-3 text-center" style="background-color: darkgrey;">
                <label><strong>Importe Bs</strong></label>
            </div>
            <div class="col-10">
                <label><strong>Consumo ({{cabezaRecibo.consumo}} M3) </strong></label>
            </div>
            <div class="col-2 text-right">
                <label><strong>{{cabezaRecibo.total}}</strong></label>
            </div>
            <div class="col-10">
                <label><strong>Multa Mora </strong></label>
            </div>
            <div class="col-2 text-right">
                <label><strong>{{cabezaRecibo.mora}}</strong></label>
            </div>
            <div class="col-10">
                <label><strong>Multa Corte/Reconexion </strong></label>
            </div>
            <div class="col-2 text-right">
                <label><strong>{{cabezaRecibo.corte}}</strong></label>
            </div>
            <br>
            <br>
            <br>
            <div class="col-9  text-right" style="background-color: slategrey;">
                <label><strong>Total </strong></label>
            </div>
            <div class="col-3 text-right" style="background-color: darkgrey;">
                <label><strong>{{cabezaRecibo.totalFinal}}</strong></label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <label><strong>Son:</strong> {{letras}}</label>
            </div>
            <div class="col-12 text-center">
                <label>"El agua es vida cuidala"</label>
            </div>
        </div>
    </div>
    <div class="col-6">
        <p-table id="export" #dt [value]="listMedidorMedidiconRecibo" styleClass="p-datatable-sm" [autoLayout]="true" [rows]="6">
            <ng-template pTemplate="caption">
                <div style="text-align: right;">
                    <h3 class=" text-center"> HISTORIAL DE CONSUMO </h3>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col">Lec Ant</th>
                    <th scope="col">Lec Act</th>
                    <th scope="col">Periodo</th>
                    <th scope="col">Consumo</th>
                    <th scope="col">Total</th>
                    <th scope="col">Pagado</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>{{ row.lecturaAnt }}</td>
                    <td>{{ row.lecturaAct }}</td>
                    <td>{{mesArray[row.mes-1]}} / {{row.anio}}</td>
                    <td>{{ row.consumo }}</td>
                    <td>{{ row.total }}</td>
                    <td *ngIf="row.pagado==0">NO</td>
                    <td *ngIf="row.pagado==1">SI</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="row">
        -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-3">
                <img src="../../../../assets/images/logo.jpg" class="rounded float-left" width="80" height="70">
            </div>
            <div class="col-6 text-center">
                <label>Comité de Agua Tacopoca Alta</label>
                <label>Recibo De Pago De Agua</label>
            </div>
            <div class="col-3">
                <label><strong>Nº: </strong> {{cabezaRecibo.idRecibo}} </label><br>
                <label><strong>Id: </strong> {{cabezaRecibo.idUser}} </label>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label><strong>Fecha: </strong> {{cabezaRecibo.fechaRecivo}} </label>
            </div>
            <div class="col-6">
                <label><strong>Medidor: </strong> {{cabezaRecibo.numero}} </label>
            </div>
            <div class="col-6">
                <label><strong>Socio: </strong> {{cabezaRecibo.name}} </label>
            </div>
            <div class="col-6">
                <label><strong>Periodo: </strong> {{cabezaRecibo.mes}}/{{cabezaRecibo.anio}} </label>
            </div>
        </div>
        <div class="row">
            <div class="col-9  text-center" style="background-color: slategrey;">
                <label><strong>Detalle </strong></label>
            </div>
            <div class="col-3 text-center" style="background-color: darkgrey;">
                <label><strong>Importe Bs</strong></label>
            </div>
            <div class="col-10">
                <label><strong>Consumo ({{cabezaRecibo.consumo}} M3) </strong></label>
            </div>
            <div class="col-2 text-right">
                <label><strong>{{cabezaRecibo.total}}</strong></label>
            </div>
            <div class="col-10">
                <label><strong>Multa Mora </strong></label>
            </div>
            <div class="col-2 text-right">
                <label><strong>{{cabezaRecibo.mora}}</strong></label>
            </div>
            <div class="col-10">
                <label><strong>Multa Corte/Reconexion </strong></label>
            </div>
            <div class="col-2 text-right">
                <label><strong>{{cabezaRecibo.corte}}</strong></label>
            </div>
            <br>
            <br>
            <br>
            <div class="col-9  text-right" style="background-color: slategrey;">
                <label><strong>Total </strong></label>
            </div>
            <div class="col-3 text-right" style="background-color: darkgrey;">
                <label><strong>{{cabezaRecibo.totalFinal}}</strong></label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <label><strong>Son:</strong> {{letras}}</label>
            </div>
            <div class="col-12 text-center">
                <label>"El agua es vida cuidala"</label>
            </div>
        </div>
    </div>
    <div class="col-6">
        <p-table id="export" #dt [value]="listMedidorMedidiconRecibo" styleClass="p-datatable-sm" [autoLayout]="false" [rows]="6">
            <ng-template pTemplate="caption">
                <div style="text-align: right;">
                    <h3 class=" text-center"> HISTORIAL DE CONSUMO </h3>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col">Lec Ant</th>
                    <th scope="col">Lec Act</th>
                    <th scope="col">Periodo</th>
                    <th scope="col">Consumo</th>
                    <th scope="col">Total</th>
                    <th scope="col">Pagado</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>{{ row.lecturaAnt }}</td>
                    <td>{{ row.lecturaAct }}</td>
                    <td>{{mesArray[row.mes-1]}} / {{row.anio}}</td>
                    <td>{{ row.consumo }}</td>
                    <td>{{ row.total }}</td>
                    <td *ngIf="row.pagado==0">NO</td>
                    <td *ngIf="row.pagado==1">SI</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="col-md-12">
    <button  class="btn btn-success" (click)="pagarImprimir()">
            <!--[useExistingCss]="true" printSectionId="imprimir" ngxPrint -->
            Pagar e Imprimir
    </button>
</div>