<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-1" style="max-width: 36px">
                <nb-actions size="small">
                    <!--<nb-action <i class="ion-android-clipboard"></i> (click)="editar(row)"></nb-action>-->
                    <nb-action  style="padding: inherit;" icon="plus-circle-outline" (click)="nuevo()"></nb-action>
                </nb-actions>
            </div>
            <div class="col-md-11">Lista de Cuentas</div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <p-table id="export" #dt [value]="ListaDeEmpresas" selectionMode="single" [autoLayout]="true" [paginator]="true" [rows]="10"
            [globalFilterFields]="['id','numero', 'monto' , 'entidadFinanciera','activo']">
            <ng-template pTemplate="caption">
                <div style="text-align: right;">
                    <i class="fa fa-search" style="margin:4px 4px 0 0;"></i>
                    <input type="text" pInputText size="50" placeholder="ID, Numero, Monto, Entidad, Acción"
                           (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Numero</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Entidad</th>
                    <th scope="col">Activa</th>
                    <!--<th scope="col">Sucursal</th>-->
                    <!-- <th scope="col">Descuento Promo %</th> -->
                    <!--<th scope="col">Foto</th>-->
                    <th scope="col">Acción </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.numero }}</td>
                    <td>{{ row.monto }}</td>
                    <td>{{ row.entidadFinanciera }}</td>
                    <td>{{ row.activo }}</td>
                    <td>
                        <nb-actions size="small">
                            <nb-action style="padding: inherit;" icon="clipboard-outline" (click)="editar(row)"></nb-action>
                            <nb-action  style="padding: inherit;" icon="search-outline"  (click)="VerUnidades(row)"></nb-action>
                        </nb-actions>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </nb-card-body>
</nb-card>